

#landing {
    width: 100%;
    background: linear-gradient(rgb(255, 89, 0), rgba(255, 255, 255, 1));
    height: 800px;
    margin-top: 70px;
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#landing-img {
    margin-top: -40px;
    z-index: 2;
    position: relative;
    width: 1100px;
    height: auto;
}
#landing-title {
    width: 175px;
    position: relative;
    z-index: 1;
}
#landing-subheader {
    font-size: 30px;
    color: var(--text);
    letter-spacing: 1px;
    font-weight: 700;
    position: relative;
    z-index: 1;
    text-align: center;
}
#landing-triangle {
    position: absolute;
    z-index: 0;
    top: -100px;
    width: 140%;
}


#about {
    margin-top: 100px;
    margin-bottom: 200px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about-graphics {
    width: 700px;
    text-align: right;
}
#about-img {
    width: 500px;
    height: 700px;
    border-radius: 50px;
    object-fit: cover;
    position: relative;
    z-index: 1;
}
#graphic-square {
    height: 700px;
    width: auto;
    position: absolute;
    margin-left: -560px;
    margin-top: 60px;
    z-index: 0;
}
#about-content {
    width: 700px;
    margin-left: 50px;
    height: 500px;
}
#about-subheader {
    margin-top: -20px;
    color: var(--maintext);
}
#about-header {
    margin-top: -20px;
    color: var(--orange);
}
#about-text {
    margin-top: -20px;
    padding-left: 25px;
    border-left: 10px solid var(--secondary);
    width: 400px;
}

.bluewave {
    position: absolute;
    margin-top: -625px;
    z-index: 0;
    width: 102%;
}

#books {
    margin-top: 300px;
    background: var(--darkblue);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
}
#books-content {
    display: flex;
    position: relative;
    z-index: 1;
}
#books-header {
    margin-top: -30px;
    line-height: 70px;
}
#books-subheader {
    color: var(--orange);
}
#books-image {
    height: 600px;
    margin-right: 50px;
    border-top: 10px solid var(--orange);
    border-right: 10px solid var(--orange);
}
#books-text {
    margin-top: -20px;
    width: 650px;
    height: 450px;
    padding-left: 50px;
    border-left: 10px solid var(--secondary);
    color: rgb(223, 223, 223);
}

#books-buy {
    background: var(--orange);
    padding-left: 50px;
    margin-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    height: 60px;
    display: flex;
    justify-content: ceter;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: 600;
    text-decoration: none;
    border-radius: 15px;
    margin-top: -135px;
    position: relative;
    z-index: 1;
    transition: 0.2s;
}
#books-buy:hover {
    background: var(--secondary);
    transform: scale(1.1);
}

#books-link {
    color: var(--link);
    text-decoration: none;
    border-bottom: 2px solid var(--link);
    margin-top: 25px;
    font-size: 18px;
    transition: 0.2s;
    position: relative;
    z-index: 1;
}

#books-link:hover {
    color: white;
}

#sample {
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    background: var(--darkblue);
}

#sample-header {
    color: white;
    border-top: 2px solid rgb(54, 98, 194);
    width: 70%;
    text-align: center;
    padding-top: 100px;
    position: relative;
    z-index: 1;
}
#sample-subheader {
    color: var(--orange);
    margin-top: -30px;
    position: relative;
    z-index: 1;
}

#sample-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#fname-sample, #lname-sample, #cemail-sample {
    font-size: 15px;
    width: 233px;
    background: white;
    color: var(--darkblue);
    border: 4px solid rgb(223, 234, 255);
    font-family: "Poppins";
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    outline: none;
    position: relative;
    z-index: 1;
    transition: 0.15s;
}
#cemail-sample {
    width: 500px;
    margin-top: 0px;
}

#fname-sample:focus, #lname-sample:focus, #cemail-sample:focus {
    border: 4px solid var(--orange);
}

#submit-sample {
    font-family: "Poppins";
    background: var(--orange);
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    border: none;
    margin-top: 15px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: 600;
    border-radius: 15px;
    position: relative;
    z-index: 1;
    transition: 0.2s;
}
#submit-sample:hover {
    background: var(--secondary);
    transform: scale(1.1);
    cursor: pointer;
}


#bw2 {
    transform: rotate(180deg);
    margin-top: 500px;
    position: absolute;
    z-index: 0;
    width: 100%;
    pointer-events: none;
}

#youtube {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 200px;
}
#yt-header {
    color: var(--text);
}
#yt-videos {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#yt-vid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}
#yt-thumbnail {
    width: 350px;
    transition: 0.2s;
}
#yt-thumbnail:hover {
    transform: scale(1.1);
    cursor: pointer;
}
#yt-vid-title {
    font-weight: 600;
    font-size: 20px;
}
#yt-vid-subtitle {
    color: var(--maintext);
    font-size: 18px;
    margin-top: -20px;
    font-weight: 600;
}

#yt-channel {
    background: var(--orange);
    padding-left: 50px;
    margin-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: 600;
    margin-top: 50px;
    text-decoration: none;
    border-radius: 15px;
    transition: 0.2s;
}
#yt-channel:hover {
    background: var(--secondary);
    transform: scale(1.1);
}

@media only screen and (max-width: 1024px) {
    #landing {
        margin-top: 140px;
        margin-bottom: 10vh;
        padding-bottom: 450px;
        border-bottom: 15px solid var(--orange);
        background: white;
    }

    #landing-triangle {
        display: none;
    }

    #landing-title {
        margin-top: 500px;
        width: 300px;
        height: auto;
    }

    #landing-subheader {
        font-size: 60px;
    }

    #landing-img {
        margin-top: 50px;
        width: 90%;
    }

    #about {
        flex-direction: column;
        margin-top: 150px;
        margin-bottom: 550px;
    }
    #about-graphics {
        margin: 0;
        padding: 0;
        width: 90%;
    }
    #about-content {
        margin-top: 35px;
        width: 90%;
        padding: 0;
    }
    #about-img {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    #graphic-square {
        display: none;
    }
    #about-header {
        margin-top: -35px;
    }
    #about-text {
        width: 90%;
    }
    .bluewave {
        display: none;
    }

    #books {
        height: 2500px;
        padding-top: 300px;
        padding-bottom: 300px;
        flex-direction: column;
    }
    #books-content {
        flex-direction: column;
        margin: 0;
    }
    #books-image {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }
    #books-right {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    #books-text {
        height: 100%;
        width: 90%;
    }
    #books-buy {
        margin: 0;
        font-size: 50px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 70px;
        padding-right: 70px;
        margin-left: -400px;
    }
    #books-link {
        margin: 0;
        font-size: 40px;
        margin-top: 30px;
        margin-left: -460px;
    }
    #sample {
        margin-top: -250px;
        height: 1000px;
        padding-top: 300px;
        padding-bottom: 300px;
    }
    #sample-header {
        line-height: 80px;
        padding-top: 150px;
        width: 90%;
    }
    #sample-subheader {
        width: 90%;
        text-align: center;
    }

    #contact-text {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }
    #fname-sample, #lname-sample, #cemail-sample {
        width: 550px;
        height: 100px;
        border-width: 10px;
        font-size: 35px;
        padding-left: 35px;
        margin-bottom: 20px;
    }
    #cemail-sample {
        margin-top: -25px;
    }
    #fname-sample:focus, #lname-sample:focus, #cemail-sample:focus {
        border-width: 10px;
    }
    #sample-names {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    #submit-sample {
        width: 600px;
        height: 125px;
        font-size: 35px;
        font-family: "Poppins";
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }


    #yt-header {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        line-height: 70px;
    }

    #yt-videos {
        flex-direction: column;
        width: 90%;
    }
    #yt-vid {
        width: 100%;
        margin-bottom: 30px;
    }
    #yt-thumbnail {
        width: 90%;
    }
    #yt-vid-title {
        font-size: 50px;
        margin-top: 10px;
    }
    #yt-vid-subtitle {
        font-size: 35px;
        margin-top: -50px;
    }
    #yt-channel {
        width: 400px;
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 35px;
        margin-left: 0;
        margin-right: 0;
    }



}







